<div class="card-wrapper-detail" >
       
  <div class="news-date">{{news.date}}</div> 

        <h1 class="card-title-detail pb-3 mbr-fonts-style display-7">
            {{news.title.rendered}}
            <h4 [innerHtml] = "news.excerpt.rendered"></h4>
           
        </h1>

        
<ng-container *ngFor="let media of media$ | async">
<div *ngIf="news.featured_media === media.id" class="card-img-detail">    
    
    <img src="{{media.guid.rendered}}" alt="Mobirise" title="" media-simple="true">
</div>
</ng-container>  

 

  
<div class="card-box" >      

   <div [innerHtml] = "news.content.rendered" class="card-body"></div>
    
</div>

</div>

