<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <a class="navbar-brand" href="#">
    <img src="../assets/img/logo.png"  class="d-inline-block align-top" alt="">
   <p> pentru oameni liberi</p>
  </a>
  
  
 
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="news">News</a>
        </li>  
        </ul>  
 
        
    </div>
   
  </nav>


<!-- <div class="container">
  <div class="header-t">
    <h1>Welcome to news page</h1>
  </div>
  <div class="img-news">
    <img src="../assets/img/news.png" alt="">
  </div>
</div> -->


  <router-outlet></router-outlet>