<div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="row space-row">
    <div class="card">

      <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait. </p>  
        </ngx-spinner>  
      <mat-card *ngFor="let item of apiData | paginate:{itemsPerPage: 3, currentPage: p}" class="card-container">
           
             <div class="card-wrapper">
 
                   <mat-card-header  *ngFor="let media of media$ | async">
                     <div class="card-img"  *ngIf="item.id === media.post" class="card-img-detail">
                         <img src="{{media.media_details.sizes.medium.source_url}}" alt="Imaginea-noutatii"  media-simple="true">
                     </div>
                   </mat-card-header>
                 
                   
                 <div class="card-box">
 
                     <mat-card-title>
                       <h4 class="card-title pb-3 mbr-fonts-style display-7" >
                         {{
                           item.title.rendered
                         }}
                       </h4>
                     </mat-card-title>
 
                     <p class="mbr-text mbr-fonts-style display-7">
                       {{item.date}} <button class="detail-button"><a [routerLink]="['/news-details/', item.id]" routerLinkActive="active" >Vezi detalii...</a> </button>
                     </p>
                 </div>
                 
                
                 
             </div>
             
 
   </mat-card>
    
   <div class="pagination-container" id="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div> 
  

 </div>
 </div>
 </div> 
