<div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="row space-row">
    <div class="card">
 
     
 
      <mat-card *ngFor="let item of apiData" class="card-container">
           
             <div class="card-wrapper">
 
                   <mat-card-header>
                     <div class="card-img">
                         <img src="https://img.freepik.com/free-vector/breaking-news-tv-concept-backdrop-banner_1017-14194.jpg?size=626&ext=jpg" alt="Mobirise" title="" media-simple="true">
                     </div>
                   </mat-card-header>
                 
                   
                 <div class="card-box">
 
                     <mat-card-title>
                       <h4 class="card-title pb-3 mbr-fonts-style display-7" >
                         {{
                           item.title.rendered
                         }}
                       </h4>
                     </mat-card-title>
 
                     <p class="mbr-text mbr-fonts-style display-7">
                       {{item.date}} <button class="detail-button"><a [routerLink]="['/news-details/', item.id]" routerLinkActive="active" >Vezi detalii...</a> </button>
                     </p>
                 </div>
               
             </div>
 
   </mat-card>
 </div>
 </div>
 </div> 
